body {
  margin: 0;
  font-family: Arial;
}

/* Splash */
#splash {
  background: url('splash.jpg') center/cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0,0,0,0.6);
  padding: 25px;
  border-radius: 15px;
  color: white;
}

/* Main */
#main {
  background: url('main.jpg') center/cover no-repeat;
  min-height: 100vh;
  padding: 15px;
}

.hidden {
  display: none;
}

/* Header */
.header {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

/* Cards */
#menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.card {
  background: rgba(255,255,255,0.75);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.card:active {
  transform: scale(0.95);
}

/* Content */
#content {
  background: rgba(255,255,255,0.95);
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  text-align: center;
  animation: fadeIn 0.4s ease;
}

button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* أزرار */
.call {
  background: #28a745;
  color: white;
}

.map {
  background: #007bff;
  color: white;
}

/* أنيميشن */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
